<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />


<div class="container">
    <h1 class="titulo text-center">Telecursos 2000</h1>
    <div class="row">
        <div class="col-md-12 sm-auto">
            <h1>Qual o proposito da Telecurso 2000 ?</h1>
            <p> Somos uma empresa que está no ramo de cursos preparatórios ha muitos anos, com o foco de guiar os jovens para ter um futuro melhor. Os cursos dados pela Telecursos 2000 tem foco em dar o primeiro passo de um jovem a sua profissão dos sonhos, começando do mais basico para engajar o jovem a sua profissão dos sonhos.</p>
            <h3>Meios de contato no rodape da pagina.</h3>     
        </div>
    </div>
</div>

<section>
    <Div class="container">
        <h1 class="titulo text-center">Alguns cursos Disponiveis</h1>
    </Div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mt-2 mb-2">
                    <img src="assets/images/si.jpg" class="card-img-top" width="300" height="300"/>
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Sistemas de Informação</h2>
                        </div>
                        <div class="card-text">
                            O profissional de Sistemas de Informação administra fluxos de informação em rede de computadores.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-2 mb-2">
                    <img src="assets/images/comp.png" class="card-img-top" width="300" height="300"/>
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Analise e Des. de Sistemas</h2>
                        </div>
                        <div class="card-text">
                            O tecnólogo em Análise e Desenvolvimento de Sistemas é um profissional de nível em sistemas.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-2 mb-2">
                    <img src="assets/images/ccp.jpg" class="card-img-top" width="300" height="300" /> 
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Ciência da Computação</h2>
                        </div>
                        <div class="card-text">
                            Ciência da Computação trabalha, fundamentalmente, na elaboração de programas de informática.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mt-2 mb-2">
                    <img src="assets/images/eng.jpg" class="card-img-top" width="300" height="300" />
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Engenharia</h2>
                        </div>
                        <div class="card-text">
                            Engenharia é a capacidade de aplicar os conhecimentos científicos de forma prática a fim de produzir novas utilidades.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-2 mb-2">
                    <img src="assets/images/med.png" class="card-img-top" width="300" height="300" />
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Medicina</h2>
                        </div>
                        <div class="card-text">
                            Medicina o aluno aprende fundamentos teóricos da área, como Anatomia, Bioquímica e Imunologia. 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-2 mb-2">
                    <img src="assets/images/robot.jpg" class="card-img-top" width="300" height="300" />
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Robotica</h2>
                        </div>
                        <div class="card-text">
                            A robótica é uma área da tecnologia que engloba mecânica, elétrica, eletrônica e programação.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>